@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
html {
  overflow: hidden;
	--color-text: #efedeb;
	--color-bg: #0e0e0e;
	--color-link: #1920f3;
	--color-link-hover: #555;
	--color-info: #fff;
	--color-main-text: #1d1c1c;
	--color-scroll-text: #efedeb;
	--font-scroll-text: 'Roboto Mono', monospace;
	--fontsize-scroll-text: 8vw;
}
.person {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 1.1em;
  font-family: var(--font-scroll-text);
}
.person.left {
  left: 0;
}
.person.right {
  right: -38px;
}
.person.right .name {
  margin-bottom: 18px;
}
.person img {
  /*border-radius: 50%;*/
}
.person.left img {
  width: 280px;
}
.person.right img {
  width: 350px;
}
a {
	text-decoration: underline;
  color: white;
	outline: none;
	cursor: pointer;
}
