@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
html {
  overflow: hidden;
	--color-text: #efedeb;
	--color-bg: #0e0e0e;
	--color-link: #1920f3;
	--color-link-hover: #555;
	--color-info: #fff;
	--color-main-text: #1d1c1c;
	--color-scroll-text: #efedeb;
	--font-scroll-text: 'Roboto Mono', monospace;
	--fontsize-scroll-text: 8vw;
  height: 100%;
}
body {
  height: 100%;
  font-family: var(--font-scroll-text) !important;
  font-size: 0.7em !important;
}
.container {
  height: 100%;
}
.paper.scrollprinter {
  height: 100%;
  position: relative;
}
#prompt .text {
}
.person {
  position: absolute;
  bottom: 250px;
  font-size: 1.1em;
  font-family: var(--font-scroll-text);
}
.person .inner {
  position: relative;
}
.person.left .name {
  right: -84px;
  top: 74px;
}
.person.left {
  left: 20px;
}
.person.right {
  right: 20px;
}
.person .name {
  position: absolute;
}
.person.right .name {
  left: 44px;
  top: -34px;
}
.person.left img {
  width: 150px;
}
.person.right img {
  width: 150px;
}
a {
  font-size: 14px;
	text-decoration: underline;
  color: var(--color-link);
	outline: none;
	cursor: pointer;
}
.content .explanation p {
  font-size: 16px !important;
}
