@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
html {
  overflow: hidden;
	--color-text: #efedeb;
	--color-bg: #0e0e0e;
	--color-link: #1920f3;
	--color-link-hover: #555;
	--color-info: #fff;
	--color-main-text: #1d1c1c;
	--color-scroll-text: #efedeb;
	--font-scroll-text: 'Roboto Mono', monospace;
	--fontsize-scroll-text: 8vw;
  height: 100%;
  background-size: cover;
  background-image: url("../assets/img/bg1.jpg");
  background-color: black;
}
body {
  height: 100%;
  font-family: var(--font-scroll-text) !important;
  font-size: 0.7em !important;
}
.container {
  height: 100%;
}
.paper.scrollprinter {
  height: 100%;
  position: relative;
}
.person {
  position: absolute;
  bottom: 250px;
  font-size: 1.1em;
  font-family: var(--font-scroll-text);
}
.person .inner {
  position: relative;
}
.person.left .name {
  right: -84px;
  top: 74px;
}
.person.left {
  left: 20px;
}
.person.right {
  right: 20px;
}
.person .name {
  position: absolute;
}
.person.right .name {
  left: 44px;
  top: -34px;
}
.person.left img {
  width: 150px;
}
.person.right img {
  width: 150px;
}
a {
  font-size: 14px;
	text-decoration: underline;
  color: var(--color-link);
	outline: none;
	cursor: pointer;
}
.content .explanation p {
  font-size: 16px !important;
}
#prompt {
    line-height: 1.5;
}

/** LIGHTBOX MARKUP **/

.html5lightbox {
    position: absolute;
    top: 2vw;
    left: 2vw;
    font-family: "Roboto Mono", monospace;
}
.html5lightbox a:hover {
    color: white;
}
.html5lightbox a {
    font-size: 1.8em;
    text-decoration: none;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 2vw;
	background: rgba(0,0,0,0.8);
	text-decoration: none;
}
.lightbox-inner {
    BACKGROUND: WHITE;
    background-image: url("../assets/img/lightbox-bg.png");
    PADDING: 2vw 4vw;
    max-width: 12%;
    line-height: 1.5;

}
.lightbox img {
	/** Pad the lightbox image */
	max-width: 80%;
	max-height: 80%;
	margin-top: 2%;
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
.cc {
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
}